@use '../../../assets/scss/variables.scss' as *;


.footer {
    background-color: $blue-12;
    color: $blue-2;

    &-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;
        list-style: none;
        font-size: 1.25rem;
        margin: 0;
        padding: 1.5rem;
    }
}